*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body{
    background-image: url("/troca_de_imagem_input/img/stars-wallpaper.gif");
    
    background-size:cover;
    margin: 0px;
    padding: 0px;
    color: aliceblue;
    font-family: monospace;
}

.border{
    border: solid 10px rgb(252, 223, 63);
}

button{
    color: rgb(2, 27, 49);
    background-color: gold;

}

#margem{
    margin :20px;
}
